* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
}
.container {
  background-color: #3C4048;
  height: 600px;
  width: 500px;
  border-radius: 1rem;
  border: 2px solid #99a3a3;
}
.wrapper {
  padding:1rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(4,1fr);
  gap:0.5rem;
  width: 95%;
  height: 70%;
  margin: 0 auto;
}
.display {
  width:100%;
  height:30%;
  background-color:#00ABB3;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.button{
  background-color:#B2B2B2;
  width: 100%;
  border-radius: 1rem;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items:center;
  cursor: pointer;
}
.button:hover{
  background-color: #b2b2b2a1;
}
.icons{
  justify-content: center;
  align-items:center;
  font-size: 4.5rem;
}
.screen{
  background-color: #3C4048;
  height: 70%;
  width: 95%;
  padding: 1rem;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 2rem;
}
.logo{
  width: 95%;
  text-align: right;
  font-size: 2rem;
  padding-bottom: 0.5rem;
}
